/*-------Google fonts imported--------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
:root {
  --primary-color: rgb(13, 172, 235);
  --primary-color:rgb(45, 71, 73);
  --secondary-color: rgb(103, 101, 101);
}
html,
body {
  background-color: white;
  overflow-x: hidden;
}

img {
  width: 100%;
}

/* ---------about-banner css start-------- */
.banner-section{
    background: rgb(249, 249, 249);
}
.banner-section .left-content .title h1{
    color: var(--primary-color);
    font-size: 50px;
}

.banner-section .left-content .title-para{
    color: var(--secondary-color);
}
.banner-section .right-img img{
   width: 250px; 
   transition: all 0.4s;
}
.banner-section .right-img:hover img{
    transform: scale(1.2);
 }

/* ---------about-banner css end------- */


/* ---------contact css start------- */
.contact-section .section-heading {
  color: var(--primary-color);
}
.contact-section .contact-information p{
  font-size: 19px;
}
.contact-section .contact-information p i{
  font-size: 20px;
  color: var(--primary-color);
  margin-right: 5px;
}


.contact-section label{
  font-size: 20px;
}
.contact-section .form-control{
  font-size: 16px;
}
.contact-section .submit input {
  background: var(--primary-color);
  color: white;
  font-size: 5px;
}
.contact-section .submit input:hover {
  background-color: rgb(46, 124, 46);
}

/* ---------contact css end------- */