/*-------Google fonts imported--------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
:root {
  --primary-color: rgb(13, 172, 235);
  --secondary-color: rgb(103, 101, 101);
}
html,
body {
  background-color: white;
  overflow-x: hidden;
}

img {
  width: 100%;
}

/* ---------axis-banner css start-------- */
.banner-section{
     background: rgb(249, 249, 249); 
}
.banner-section .left-content .title h1{
    color: var(--primary-color);
    font-size: 45px;
}

.banner-section .left-content .title-para p{
    color: var(--secondary-color);
    font-size: 22px;
}
.banner-section .left-content  .apply-now .btn{
  color: white;
  background-color: var(--primary-color);
  font-size: 16px;
}
.banner-section .left-content  .apply-now .btn:hover{
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
.banner-section .right-img img{
   width: 100%; 
   transition: all 0.4s;
}
.banner-section .right-img:hover img{
    transform: scale(1.1);
 }

/* ---------axis-section css end------- */

.axis-section .axis-img img{
    width: 80%;
}
.axis-section .axis-img .upper-img img{
    position: absolute;
    width: 60%;
    top: 45%;
    right: 10%;
}
.axis-section .axis-content .heading h3{
    color: var(--primary-color);
    font-size: 30px;
}
.axis-section .axis-content .para h1{
    font-size: 45px;
}

.axis-section .axis-content .sub-para{
    color: var(--secondary-color);
    font-size: 20px;
}
.axis-section .apply-now .btn{
  color: white;
  background-color: var(--primary-color);
  font-size: 16px;
}
.axis-section .apply-now .btn:hover{
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
.axis-section .axis-content .facilities .facility-img  img{
    width: 100%;
}
.axis-section .axis-content .facilities .facility h5{
    color: var(--secondary-color);
    font-size: 20px;
}


/* ---------indusland-section css end------- */
.indusland-section{
  background: rgb(249, 249, 249); 
}
.indusland-section .indusland-img img{
  width: 80%;
}
.indusland-section .indusland-img .upper-img img{
  position: absolute;
  width: 60%;
  top: 45%;
  right: 10%;
}
.indusland-section .indusland-content .heading h3{
  color: var(--primary-color);
  font-size: 30px;
}
.indusland-section .indusland-content .para h1{
  font-size: 45px;
}

.indusland-section .indusland-content .sub-para{
  color: var(--secondary-color);
  font-size: 20px;
}
.indusland-section .apply-now .btn{
  color: white;
  background-color: var(--primary-color);
  font-size: 16px;
}
.indusland-section .apply-now .btn:hover{
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
.indusland-section .indusland-content .facilities .facility-img  img{
  width: 100%;
}
.indusland-section .indusland-content .facilities .facility h5{
  color: var(--secondary-color);
  font-size: 20px;
}

/* ---------au-section css end------- */
.au-section{
  background: url('/images/');
}
.au-section .au-img img{
  width: 80%;
}
.au-section .au-img .upper-img img{
  position: absolute;
  width: 60%;
  top: 45%;
  right: 10%;
}
.au-section .au-content .heading h3{
  color: var(--primary-color);
  font-size: 30px;
}
.au-section .au-content .para h1{
  font-size: 45px;
}

.au-section .au-content .sub-para{
  color: var(--secondary-color);
  font-size: 20px;
}
.au-section .apply-now .btn{
  color: white;
  background-color: var(--primary-color);
  font-size: 16px;
}
.au-section .apply-now .btn:hover{
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
.au-section .au-content .facilities .facility-img  img{
  width: 100%;
}
.au-section .au-content .facilities .facility h5{
  color: var(--secondary-color);
  font-size: 20px;
}

/*------------------------media query start---------------------*/
/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (max-width: 768px) {
  .banner-section .left-content .title h1 {
    color: var(--primary-color);
    font-size: 40px;
  }
  .banner-section .left-content .title-para h5 {
    color: var(--secondary-color);
    font-size: 15px;
  }
  .axis-section .axis-content .facilities .facility h5 {
    color: var(--secondary-color);
    font-size: 18px;
  }
  .indusland-section .indusland-content .facilities .facility h5 {
    color: var(--secondary-color);
    font-size: 18px;
  }
  .au-section .au-content .facilities .facility h5 {
    color: var(--secondary-color);
    font-size: 18px;
  }
}