/*-------Google fonts imported--------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
}
:root{
    --primary-color: rgb(13, 172, 235);
    --secondary-color: rgb(103, 101, 101);
}
img {
    width: 300px;
}
p{
    margin-bottom: auto;
}

/*-------footer start-------*/

footer{
    background-color:  var(--secondary-color);
    background: url('/images/footer-bg.png');
    background-size: cover;
    background-position: bottom;
    
}
footer .nav-link{
    color: white;
}

footer .nav-link:hover{
    color: var(--primary-color);
}

footer .nav-link i{
    font-size: 20px;
}
.copyright{
    background-color: rgb(26, 25, 25);
}
/*-------footer end-------*/