/*-------Google fonts imported--------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
}
:root{
    --primary-color: rgb(13, 172, 235);
    --secondary-color: rgb(103, 101, 101);
}

body {
    background: rgb(255, 255, 255);
}

img {
    width: 100%;
}

#hero-main{
    min-height: 100vh;
    position: relative;
    z-index: 1;
}

/*-------header start-------*/

header .custom-bg-color {
    background: rgba(255, 255, 255, 0.6);
}
header img{
    width: 200px;
}


header .nav-link {
    color:black;
    font-size: 16px;
}

header .nav-link:hover {
    color: var(--primary-color);
}

header .get-btn {
    color: white; 
    background: var(--primary-color);
    border-radius: 4px;
}

header .get-btn:hover {
    color: var(--primary-color);
    background: var(--secondary-color);
}
/*-------header end-------*/

/*-------navbar start-------*/
nav .row{
    background-color: var(--secondary-color);
}

nav img{
    width: 150px;
}
nav button span i {
    font-size: 30px;
    color: white;
}

nav ul li {
    margin-right: 15px;
}

nav ul li .nav-link {
    font-size: 16px;
    color: white;
}
nav ul li .nav-link:hover{
    color: var(--primary-color);
}

nav .dropdown:hover .dropdown-menu{
    display: block;
}

nav .dropdown-menu li a{
    color: black;
}

/*-------navbar end-------*/

#hero-section{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    min-height: 100vh;  
}

#carouselExampleCaptions {
    z-index: 9;
    min-height: 100vh;
    max-height: 100%;
    position: relative;
}
#carouselExampleCaptions .carousel-inner .carousel-item{
    overflow: hidden;
}

#carouselExampleCaptions .carousel-inner .carousel-item img {
    min-height: 100vh;
    max-height: 100vh;
}

html,body{
    overflow-x: hiddn;
}
#carouselExampleCaptions .row .slide-content {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0,0.4);
}

#carouselExampleCaptions h2 {
    margin-top: 15%;
    font-size: 40px;
    color: var(--primary-color);
    line-height: 45px;
}
#carouselExampleCaptions .para {
    font-size: 100px;
    font-weight: 700;
    color: white;
    line-height: 70px;
    margin-bottom: 30px;
}
#carouselExampleCaptions .para1 {
    font-size: 20px;
    color: white;
    line-height: 30px;
    margin-bottom: 30px;
}
.slide-content .contact-btn{
    margin-left: 200px;
}

.slide-content .contact-btn a {
    text-decoration: none;
    font-size: 18px;
    color:white;
    padding: 10px 30px;
    background-color:var(--primary-color);
}
.slide-content .contact-btn a:hover {
    background-color:var(--secondary-color);
    color: var(--primary-color);
}

