/*-------Google fonts imported--------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

:root {
  --primary-color: rgb(13, 172, 235);
  --secondary-color: rgb(103, 101, 101);
}

html,
body {
  background-color: white;
  overflow-x: hidden;
}

img {
  width: 100%;
}

/*-------all services section css start--------*/
.all-services-section {
  background: url("/images/skill-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.all-services-section img {
  width: 100px;
}

.all-services-section .section-heading h1 {
  color: var(--primary-color);
  font-size: 45px;
}

.all-services-section .section-para {
  color: var(--secondary-color);
  font-size: 25px;
  font-weight: bold;
}

.all-services-section .service-box {
  color: var(--primary-color);
  background: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0 1px 3px grey;
  transition: all 0.2s;
}

.all-services-section .service-title h4 {
  color: var(--primary-color);
}

.all-services-section .service-para p {
  color: var(--secondary-color);
}

.all-services-section .service-box:hover {
  background: var(--primary-color);
  transform: scale(1.02);
}

.all-services-section .service-box:hover h4 {
  color: white;
}

.all-services-section .service-box:hover p {
  color: white;
}

/*-------all services section css end--------*/

/*-------credit card section css start--------*/
.credit-card-section {
  background: url("/images/blog-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.credit-card-section .section-head .heading h1 {
  color: var(--primary-color);
  font-size: 45px;
}

.credit-card-section .section-head .para {
  color: var(--secondary-color);
  font-size: 22px;
}

.credit-card-section .para {
  color: var(--secondary-color);
  font-size: 20px;
}

.credit-card-section .credit-card-img {
  max-width: 300px;
  min-width: 250px;
  box-shadow: 0 0px 10px grey;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  animation: rotate-card 7s linear infinite alternate;
  transition: rotate-card 0.3s;
}

@keyframes rotate-card {
  0% {
    transform: translateX(30px);
  }

  25% {
    transform: translateY(20px);
  }

  50% {
    transform: translateX(-40px);
  }

  75% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateX(20px);
  }
}

/*-------credit card section css end--------*/

.main-services-section {
  background: url("/images/p3.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.main-services-section .bg-overlay {
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.main-services-section .title h1 {
  color: white;
  font-weight: 600;
  font-size: 45px;
}

.main-services-section .para {
  color: white;
  font-size: 20px;
}

.main-services-section .contact-btn .btn {
  background-color: var(--primary-color);
  color: white;
  padding: 7px 20px;
  font-weight: 600;
  font-size: 16px;
}

.main-services-section .contact-btn .btn:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.big-box-section {
  background: rgb(230, 230, 230);
}

.big-box-section .heading h1 {
  font-size: 45px;
  color: var(--primary-color);
}

.big-box-section .read-more-btn .btn {
  background: var(--primary-color);
  color: white;
}

.big-box-section .read-more-btn .btn:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
}

.big-box-section .img-box {
  min-width: 200px;
  max-width: 300px;
  border-radius: 55% 45% 53% 47% / 50% 30% 70% 50%;
  border: 3px solid var(--primary-color);
  box-shadow: 0 2px 8px solid grey;
}

.big-box-section .img-box img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 100%;
}

/*------percent section css end--------*/
.percent-section {
  background: url("/images/skill-bg.png");
  background-position: center;
  background-repeat: no-repeat;
}

.percent-section .section-head .heading h1 {
  color: var(--primary-color);
  font-size: 45px;
}

.percent-section .section-head .para {
  color: var(--secondary-color);
  font-size: 22px;
}

.percent-section .section-head .line-container .line {
  background: var(--secondary-color);
  height: 4px;
  position: relative;
  overflow: hidden;
}

.percent-section .section-head .line-container .line::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: var(--primary-color);
  width: 50px;
  height: 4px;
  animation: move-line 10s linear infinite;
  animation-play-state: running;
}

@keyframes move-line {
  0% {
    top: 0;
    left: 0;
  }

  50% {
    top: 0;
    left: 92%;
  }

  100% {
    top: 0;
    left: 0;
  }
}

.percent-section .progress-bar-container .title {
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 17px;
}

.percent-section .progress-container {
  width: 100%;
  overflow: hidden;
}

.percent-section .progress-bar-container .bar {
  margin: 5px 0;
  margin-bottom: 15px;
  position: relative;
  color: var(--secondary-color);
  background: var(--primary-color);
  box-shadow: 0 1px 3px grey;
  height: 3px;
}

.percent-section .progress-bar-container .bar-90 {
  position: absolute;
  bottom: 140%;
  left: 90%;
}

.percent-section .progress-bar-container .bar-85 {
  position: absolute;
  bottom: 140%;
  left: 85%;
}

.percent-section .progress-bar-container .bar-80 {
  position: absolute;
  bottom: 140%;
  left: 80%;
}

.percent-section .img-container .jumping-ball {
  position: absolute;
  bottom: 5%;
  left: 40%;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: var(--primary-color);
  animation: jumping-ball 3s linear infinite;
}

@keyframes jumping-ball {
  0% {
    bottom: 5%;
    height: 25px;
    width: 25px;
  }

  50% {
    bottom: 45%;
    height: 40px;
    width: 40px;
    border-radius: 25%;
  }
}

.counter-number-section {
  background: url("/images/credit-card-img.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.counter-number-section .bg-overlay {
  background: rgba(0, 0, 0, 0.5);
}

/*------------------------media query start---------------------*/

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1201px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 767px) {
  /*-------all services section css start--------*/
  .all-services-section .section-heading h1 {
    color: var(--primary-color);
    font-size: 35px;
  }

  .all-services-section .section-para {
    color: var(--secondary-color);
    font-size: 20px;
    font-weight: bold;
  }

  /*-------all services section css end--------*/

  .credit-card-section .section-head .heading h1 {
    color: var(--primary-color);
    font-size: 35px;
  }

  .credit-card-section .section-head .para {
    color: var(--secondary-color);
    font-size: 20px;
  }

  .credit-card-section .para {
    color: var(--secondary-color);
    font-size: 16px;
  }

  .percent-section {
    background: url("/images/skill-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .main-services-section .title h1 {
    font-size: 35px;
  }

  .main-services-section .para {
    font-size: 18px;
  }

  .big-box-section .heading h1 {
    font-size: 35px;
  }

  .percent-section .section-head .heading h1 {
    font-size: 35px;
  }

  .percent-section .section-head .para {
    font-size: 18px;
  }

  .percent-section .section-head .line-container .line {
    background: var(--secondary-color);
    height: 3px;
    position: relative;
    overflow: hidden;
  }

  .percent-section .section-head .line-container .line::after {
    width: 30px;
    height: 3px;
    animation: move-line 8s linear infinite;
  }

  @keyframes move-line {
    0% {
      top: 0;
      left: 0;
    }

    50% {
      top: 0;
      left: 90%;
    }

    100% {
      top: 0;
      left: 0;
    }
  }

  .percent-section .progress-bar-container .title {
    font-size: 16px;
  }

  .percent-section .progress-container {
    width: 100%;
    overflow: hidden;
  }

  .percent-section .progress-bar-container .bar {
    margin: 3px 0;
    margin-bottom: 10px;
    height: 2px;
  }

  .percent-section .progress-bar-container .bar-90 {
    position: absolute;
    bottom: 140%;
    left: 87%;
  }

  .percent-section .progress-bar-container .bar-85 {
    position: absolute;
    bottom: 140%;
    left: 82%;
  }

  .percent-section .progress-bar-container .bar-80 {
    position: absolute;
    bottom: 140%;
    left: 79%;
  }

  .percent-section .img-container .jumping-ball {
    position: absolute;
    bottom: 5%;
    left: 40%;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: var(--primary-color);
    animation: jumping-ball 2.5s linear infinite;
  }

  @keyframes jumping-ball {
    0% {
      bottom: 5%;
      height: 25px;
      width: 25px;
    }

    50% {
      bottom: 45%;
      height: 35px;
      width: 35px;
    }
  }
}

@media only screen and (max-width: 420px) {
}
