/*-------Google fonts imported--------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
:root {
  --primary-color: rgb(13, 172, 235);
  --secondary-color: rgb(103, 101, 101);
}
html,
body {
  background-color: white;
}

img {
  width: 100%;
}

.all-services-section img {
  width: 110px;
}

.main-services-section .service-title {
  color: var(--primary-color);
}
.main-services-section .service-para {
  color: var(--secondary-color);
}
.all-services-section .section-heading {
  color: var(--primary-color);
}
.all-services-section .section-para {
  color: var(--secondary-color);
}
.all-services-section .service-box {

  box-shadow: 1px 1px 10px 1px rgba(179, 177, 179, 1);
}
.all-services-section .service-title {
  color: var(--primary-color);
}
.all-services-section .service-para {
  color: var(--secondary-color);
}

.trust-section .primary-heading{
    color: var(--primary-color);
}
.trust-section .secondary-heading{
    color: black;
}
.trust-section .para{
    color: var(--secondary-color);
}

.contact-section .section-heading{
  color: var(--primary-color);
}

.contact-section .submit input{
  background: var(--primary-color);
  color: white;
  font-size: 18px;
}
.contact-section .submit input:hover{
  background-color: rgb(46, 124, 46);
}