/*-------Google fonts imported--------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-color: rgb(13, 172, 235);
    --secondary-color: rgb(103, 101, 101);
}

html,
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background: url('/images/creditformbg.jpg');
    object-fit:cover;
    object-position: top;
}

.container-section {
    background: rgb(249, 249, 249); 
    position: relative;
    max-width: 900px;
    border-radius: 6px;
    padding: 30px 20px;
    margin: auto;
    box-shadow: 0 5px 10px rgb(219, 219, 219);
}

.container-section header {
    position: relative;
    font-size: 45px;
    font-weight: 600;
    text-align: center;
    color: var(--primary-color);
}

.container-section form {
    position: relative;
    margin-top: 16px;
   
}
.bank-list h3{
    color: var(--secondary-color);
    font-size: px;
    margin-bottom: 10px;
}
.bank-list{
    margin-bottom: 15px;
}
.bank-list select{
    text-align: left;
    border: 1.5px solid var(--secondary-color);
    border-radius: 5px;
    font-size: 15px;
    color: var(--secondary-color);
    font-weight: 600;
    padding:2px 40px;
}
.bank-list select option{
    border-radius: 0;

}
.bank-list select option:hover{
    color: var(--primary-color);
    background: var(--primary-color);
    padding: 6px 25px;
}

.container-section form .Id-details {
    margin-top: 20px;
}

.container-section form .title {
    display: block;
    margin-bottom: 8px;
    font-size: 25px;
    font-weight: 600;
    margin: 10px 0;
    color: var(--secondary-color);
}

.container-section form .fields {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

form .fields .input-field {
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
}

.input-field label {
    font-size: 15px;
    font-weight: 600;
    color: var(--secondary-color);
}

.input-field input {
    outline: none;
    font-size: 14px;
    color: var(--secondary-color);
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 4px;
    margin: 10px 0;
    text-align: center;
}

.input-field input:is(:focus, :valid) {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}

.container-section form button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 17px;
    padding: 6px 35px;
    font-weight: 600;
    color: var(--secondary-color);
    border-radius: 5px;
    margin: 10px auto;
    background-color: var(--primary-color);
    transition: all 0.3s;
    cursor: pointer;
}

form button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

form button i {
    margin: 0 6px;
}

@media only screen and (max-width: 768px) {

    .container-section header {
        position: relative;
        font-size: 35px;
    }

    
    .container-section form {
        overflow-y: scroll;
    }

    .container-section form::-webkit-scrollbar {
        display: none;
    }

    form .fields .input-field {
        width: calc(100% / 2 - 15px);
    }
}

@media only screen and (max-width: 550px) {
    form .fields .input-field {
        width: 100%;
    }

}
